<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Message Board</title>
        <meta description='Message Board app home page'
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css' href='css/styles.css' />
    </head>
    <body>
        <div id='wrapper'>
            <h3>The Dojo Message Board</h3>
            <br><hr><br>
            <div id='mainform'>
                <form id='messageform' action='/newmessage' method='POST'>
                    <label for='name'>Name:</label><br>
                    <input type='text' name='name' value='' autofocus><br><br>
                    <label for='message'>Message:</label><br>
                    <textarea name='message' rows='4' cols='70'></textarea><br><br>
                    <input type='submit' id='postmessage' name='postmessage' value='Post message'>                   
                </form>
            </div>
            <br>
            <div id='message'> 
                <% if(messages) { %>
                    <% for(let i = 0; i < messages.length; i++) { %>
                        <h4>Name: <%= messages[i].name %></h4><br>
                        <h4>Message: <%= messages[i].message %></h4><br>
                        <div id='comments'>
                            <% if(messages[i].comments) { %>
                                <% for(let j = 0; j < messages[i].comments.length; j++) { %>
                                    <p>Name: <%= messages[i].comments[j].name %></p>
                                    <p>Comment: <%= messages[i].comments[j].comment %></p><br>
                                <% } %>
                            <% } %>
                            <div id='commentformdiv'>
                                <form id='commentform' action='/newcomment' method='POST'>
                                    <label for='name'>Name:</label><br>
                                    <input type='text' name='name' value=''><br><br>
                                    <label for='comment'>Comment:</label><br>
                                    <textarea name='comment' rows='4' cols='70'></textarea><br>
                                    <input type="hidden" name="messageid" value="<%= messages[i].id %>">
                                    <input type='submit' id='postcomment' name='postcomment' value='Post comment'>                   
                                </form><br>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </body>
</html>